<div class="container">
  <div class="row">
    <div class="col">
      <div class="col">
        <h1><button type = "button" class="btn-danger btn-lg shadow rounded font-weight-bold">Výpožičky</button></h1>
      </div>
      <app-borrowing-formular  [borrowing]="borrowingNaUpravu!"
                              (pridajBorrowing)="pridaj($event)"
                              (upravBorrowing)="uprav($event)">
      </app-borrowing-formular>

    </div>
    <div class="col-9">
      <app-borrowing-zoznam [borrowings]="borrowings"
                            (upravBorrowing)="upravZoZoznamu($event)"
                            (zmazBorrowing)="zmazZoZoznamu($event)">

      </app-borrowing-zoznam>
    </div>
  </div>
</div>
<div class="container fixed-bottom">
  <div class="col mb-1">
    <button type="button" class="btn-danger btn-lg shadow rounded font-weight-bold mt-auto mr-2" (click)="chodSpat()">SPÄŤ</button>
    <button type="button" class="btn-danger btn-lg shadow rounded font-weight-bold mt-auto" (click)="exportBorrowings()">EXPORT</button>
  </div>
</div>
