<div class="form-group mx-3 mt-3">
  <input type="text" class="form-control" placeholder="Vyhladavanie..." [(ngModel)]="term">
</div>

<div class="mx-3">
  <div *ngIf="!auta || auta?.length === 0">
    Zoznam áut je prázdny.
  </div>

  <table class="table table-hover" *ngIf="auta.length > 0">
    <thead>
    <tr>
      <th>ID</th>
      <th>TK</th>
      <th>EK</th>
      <th>PZP</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let auto of auta | filter:term">
      <td>{{ auto.id }}</td>
      <td>{{ auto.TKEndDate }}</td>
      <td>{{ auto.EKEndDate }}</td>
      <td>{{ auto.PZPEndDate }}</td>
      <td>
        <button type = "button" class="btn-danger btn-md shadow rounded font-weight-bold mr-4" (click)="uprav(auto.id!)">UPRAVIŤ</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>

