<!--
<h1>Auto formulár</h1>
-->
<form [formGroup]="form" class="mx-3 mt-4 span-6">
  <label>
    <input formControlName="price" class="form-control shadow rounded" placeholder="Cena" >
  </label>
  <br>

  <label>
    <input formControlName="doors" class="form-control shadow rounded" placeholder="Dvere">
  </label>
  <br>

  <label>
    <input formControlName="persons" class="form-control shadow rounded" placeholder="Osoby">
  </label>
  <br>

  <label>
    <input formControlName="lug_boot" class="form-control shadow rounded" placeholder="Kufor">
  </label>
  <br>

  <label>
    <input formControlName="safety" class="form-control shadow rounded" placeholder="Bezpečnosť">
  </label>
  <br>

  <label>
    <input formControlName="TKEndDate" class="form-control shadow rounded" placeholder="TK">
  </label>
  <br>

  <label>
    <input formControlName="EKEndDate" class="form-control shadow rounded" placeholder="EK">
  </label>
  <br>

  <label>
    <input formControlName="PZPEndDate" class="form-control shadow rounded" placeholder="PZP">
  </label>
  <br>


  <button (click)="pridaj()" *ngIf="form.value.id === null" type="button" class="btn-danger btn-lg shadow rounded font-weight-bold mr-3">PRIDAJ</button>

  <button (click)="uprav()" *ngIf="form.value.id !== null" type="button" class="btn-danger btn-lg shadow rounded font-weight-bold mr-3">UPRAV</button>
  <button (click)="zrus()" type="button" class="btn-danger rounded btn-lg shadow font-weight-bold">ZRUŠ</button>

</form>
